<!DOCTYPE html>
<html>
  <head>
    <title>TabiLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="menu">
    <a href="/"><img src="/tblg.png" width="200px"></a>
    <h3><%= link_to("旅ログとは？", "/about") %></h3>
    <% #以下3つは後ほどリンクに変更する %>
    <h3>人気の「行きたい！」</h3>
    <h3>ログイン</h3>
    <h3>新規登録</h3>
   </div>
   <%= yield %>
  </body>
</html>
