<!DOCTYPE html>
<html>
  <head>
    <title>TabiLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="logo">
      <a href="/"><img src="/tblg.png" width="200px"></a>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
